
<div class="row">
  <div class="col-md-6">
    <div class="form-group">
      <label for="title">Title</label>
      <input #title="ngModel" [(ngModel)]="addressname" [class.is-invalid]="title.touched && title.invalid"
             name="title" type="text" placeholder = "Enter Address"
             id="title" class="form-control"
             type="text" class="form-control" required>

    </div>
  </div>
</div>

<button class="btn btn-outline-info" type="submit" (click) = "createaddress()">Submit</button>

<div *ngFor="let aaddress of Address$ | async;" >
  <div *ngIf="aaddress.uid == this.uid">
    <div class="row">
      <div class="card card text-white bg-dark mb-3" style="max-width: 18rem;">
        <div class="card-body">
          <h6 class="card-title">Address</h6>
          <p class="card-text">{{ aaddress.address }}</p>
          <td>

          </td>
          <td>
            <div class="hey">
              <a class="btn btn-secondary" (click)="ad.remove(aaddress.key)">Remove</a>
            </div>
          </td>
        </div>
      </div>
    </div>


  </div>
</div>

